# Specific Files
desktop.ini
ThesisCode.md
AI.Evaluation_OpenAI_Gemini_Grok_Claude.md
.github/copilot-instructions.md

# Specific Folders
_/
data_collection/docs/extracted_content
.gemini/

# Created by .ignore support plugin
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/
ENV/
.env 

# Jupyter Notebook
.ipynb_checkpoints/

# idea folder, uncomment if you don't need it
.idea/
.venv/
.vscode/